.site-footer{
  position: relative;
  color: #ebeeef;
  background-color: #000;

  .pre-footer{
    padding-top: 80px;
    padding-bottom: 36px;

    .footer-widget{
      margin-bottom:20px;
      @media all and (max-width:$screen-xs-max) {
        text-align: left;
      }
        h1{
        color:#fff;
        margin-bottom:20px;
        margin-top:0px;
      }


      .menu{
        list-style: none;
        margin: 0;
        padding: 0;
        a{
          text-decoration: none;
          line-height: 24px;
          color: $orange;

          &:hover{
            color: #fff;

          }
        }
      }


    }
  }

  .post-footer{
    padding-bottom:40px;
    @media all and (max-width:$screen-xs-max) {
      text-align: center;
    }

    .footer-social-menu{
      margin: 50px 0px;
      li{
        margin-left:15px;
        &:first-child{
          margin-left:0px;
        }
        a{
          svg{
            fill:white;
            width:24px;
            height:24px;

          }
        }
      }
    }



    .copyright{
      margin: 50px 0px;
      text-align: right;
      @media all and (max-width:$screen-xs-max) {
        text-align: center;
      }
    }
  }


}