body{
  font-weight: 300;
}

/******** Containers ******/
.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

.row-flex{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  @media screen and (max-width:767px){
    display: block;
  }
}
/********* Containers Align  **********/

.va-container {
  display: table;
  position: relative;
}

.va-container-h {
  width: 100%;
}

.va-container-v {
  height: 100%;
}

.va-top, .va-middle, .va-bottom {
  display: table-cell;
  height:100%;
  float: none;
}

.va-middle {
  vertical-align: middle;
}

.va-top {
  vertical-align: top;
}

.va-bottom {
  vertical-align: bottom;
}

/***** Custom Containers *****/

@media (min-width: 1200px){
  .header-container {
    width: 1230px;
  }
}


@media (min-width: 768px) {

  .nine-columns > .col-sm-2 {
    width: (100%/9);
  }
  .seven-columns > .col-sm-2 {
    width: (100%/7);
  }
  .five-columns > .col-sm-2 {
    width: 20%;
  }
}

@media (min-width:$screen-sm-max){
  .team-row > .col-md-2{
    &:first-child{
      margin-left:100px;
    }
    &:nth-child(12n+12){
      margin-left:100px;
    }
  }
}

/********* Background Images **********/
.bg-cover{
  background-repeat: no-repeat;
  background-size:cover;
}

.bg-contain{
  background-repeat: no-repeat;
  background-size:contain;
}

.bg-center{
  background-position:center center;
}

.horizontal-center{
  margin:0 auto;
}

/*********Texts*********/
.text-white{
  color:#fff;
}

.text-dark-gray{
  color:$dark-gray;
}

a{
  &:hover{
    //opacity:0.5;
    transition: all 0.5s ease;
    text-decoration: none;
  }
}
/******** Backgrounds *********/

.bg-orange{
  background-color: $orange;
}

.bg-dark-orange{
  background-color: $dark-orange;
}

/******** Buttons *********/

.btn-circle{
  border-radius:50px;
  padding:20px 50px;
}

.btn-orange{
  color:$orange;
  border:2px solid $orange;
  background: none;
  &:hover{
    background-color: $orange;
    color:white;
  }

}

.btn-white{
  color:white;
  border:2px solid white;

  &:hover{
    background-color: white;
    color:$orange;
  }
}

.btn-modal{
  padding-top:10px;
  padding-bottom:10px;
}
/******* Sections ******/
section{

}

.page-header{
  margin:0px;
  min-height:828px;
  padding-top:180px;
  border:0px;
}

/************ Clock *************/
.count-down-clock{
  text-align: center;


  .clock-count{
    display: inline-block;
    margin:0px 7px;

    h3{
      margin:0px;
      font-family: Time;
      font-size: 70px;
      letter-spacing: 1px;
      color:$orange;

      @media only screen and (max-width: $screen-xs-max) {
        font-size: 50px;
      }
    }
    h4{
      margin:0px;
      font-size:20px;
      font-family: Roboto, sans-serif;
      font-weight: 500;
      color:$orange;
    }


  }

  &.text-white{
    .clock-count{
      h3,h4{
        color:white;
      }
    }
  }

}

/************ SORTABLE GALLERY *************/
#sortable-filter {
  margin: 1%;
  padding: 0;
  list-style: none;
  overflow: hidden;
  width: 100%;
  li {
    float:left;
    margin-bottom:10px;
    span {
      display: block;
      padding:5px 20px;
      text-decoration:none;
      color:#666;
      cursor: pointer;

      margin-right: 5px;
      border: 1px solid #ddd;
      border-radius: 2px;
      &.active {
        background: $brand-primary;
        color: #fff;
        border: 1px solid $brand-primary;
      }
    }
  }
}

#sortable-list {
  &.portfolio-list{


    .sortable-item {
      position: relative;
      height:260px;
      transition: all 0.5s ease;
      border:none;
      border-radius: 5px;

      h4{
        padding: 125px 20px 0px;
        position: relative;
        z-index: 1;
        margin: 0;
        font-weight: 600;
        opacity:0;
        transition: all 0.5s ease;

      }

      &:after{
        background-color: rgba(0,0,0,.5);
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        content:"";
        opacity:0;
        transition: all 0.5s ease;
        border-radius: 5px;

      }

      &:hover{
        cursor: pointer;
        h4{
          opacity: 1;
          transition: all 0.5s ease;

        }

        &:after{
          opacity: 1;
          transition: all 0.5s ease;

        }
      }

      &.portfolio-image{
        &:hover{
          cursor:default;
        }
      }

    }
  }

  .sortable-item {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    width:23%;
    margin:1%;
    //display:none;
    overflow:hidden;
    height: 200px;
    border: 1px solid #eee;
    border-radius:2px;
    background-color: white;

    @media only screen and (max-width: 767px) {
      width:48%;
      margin:1%;
    }

    @media only screen and (max-width: 480px) {
      width:99%;
      margin:1%;
    }
  }
}


#svg-sprite{
  display: none;
}

/************** Animations *********************/



@keyframes arrow-right {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  50% {
    transform: translate(-5px, 0);
    opacity: 0.5;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}



@-webkit-keyframes pulse {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  25% {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
  }
  50% {
    opacity: 0.9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90);
  }
  75% {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
  }
  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@keyframes pulse {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  25% {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
  }
  50% {
    opacity: 0.9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90);
  }
  75% {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
  }
  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@-webkit-keyframes pulse-first {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    stroke-width: 0px;
  }
  25% {
    opacity: 0.1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
    filter: alpha(opacity=10);
  }
  50% {
    stroke-width: 12px;
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
  }
  75% {
    opacity: 0.1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
    filter: alpha(opacity=10);
  }
  100% {
    stroke-width: 0px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@keyframes pulse-first {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    stroke-width: 0px;
  }
  25% {
    opacity: 0.1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
    filter: alpha(opacity=10);
  }
  50% {
    stroke-width: 12px;
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
  }
  75% {
    opacity: 0.1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
    filter: alpha(opacity=10);
  }
  100% {
    stroke-width: 0px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@-webkit-keyframes pulse-second {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    stroke-width: 0px;
  }
  25% {
    opacity: 0.1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
    filter: alpha(opacity=10);
  }
  50% {
    stroke-width: 16px;
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
  }
  75% {
    opacity: 0.1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
    filter: alpha(opacity=10);
  }
  100% {
    stroke-width: 0px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@keyframes pulse-second {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    stroke-width: 0px;
  }
  25% {
    opacity: 0.1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
    filter: alpha(opacity=10);
  }
  50% {
    stroke-width: 16px;
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
  }
  75% {
    opacity: 0.1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
    filter: alpha(opacity=10);
  }
  100% {
    stroke-width: 0px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@-webkit-keyframes pulse-third {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    stroke-width: 0px;
  }
  25% {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
  }
  50% {
    stroke-width: 20px;
    opacity: 0.4;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
  }
  75% {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
  }
  100% {
    stroke-width: 0px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@keyframes pulse-third {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    stroke-width: 0px;
  }
  25% {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
  }
  50% {
    stroke-width: 20px;
    opacity: 0.4;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
  }
  75% {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
  }
  100% {
    stroke-width: 0px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}