.site-header{
  .navbar-default{
    background-color: transparent;
    border-color: transparent;
    border-width: 0px;
    margin:0px;
    transition: all .5s ease;

    @media all and (max-width:$screen-sm-max) {
      background-color: black;
    }

    //Logo
    .navbar-brand{
      height:auto;
      padding:40px 15px;
      transition: all .5s ease;
        @media all and (max-width:$screen-sm-max) {
          padding:20px 15px;
        }
      }

    //Menu
    .navbar-nav{
      li{

        a{
          line-height: 137px;
          padding:0px 15px;
          @media all and (min-width:$screen-sm) and (max-width:$screen-sm-max){
            padding:0px 12px;
          }
          font-weight: 500;
          color:white;
          text-transform: uppercase;
          background-color: transparent;
          &:hover{
            color:$orange;
            background-color: transparent;
          }
          &:active{
            color:$orange;
            background-color: transparent;
          }
          &:focus{
            color:$orange;
            background-color: transparent;
          }

          @media (max-width: $screen-sm-max) {
            line-height: 55px;
          }

          @media all and (min-width:$screen-sm-max) and (max-width:$screen-md-max){
            font-size: 20px;
          }

          &.buy-token{
            line-height: 36px;
            padding: 2px 30px;
            margin-top: 45px;
            font-size: 20px;
            margin-left: 15px;
            margin-right: 15px;

            &:hover{
              background-color: $dark-orange;
              border-color: $dark-orange;
              color:white;
            }

            @media all and (max-width:$screen-sm-max) {
              margin:15px 20px;
            }

            @media all and (min-width:$screen-sm-max) and (max-width:$screen-md-max){
              line-height: 30px;
              padding: 1px 30px;
              margin-top: 50px;
              font-size: 18px;
              margin-left: 10px;
              margin-right: 15px;
            }
          }
        }

        &.active{
          a{
            color:$orange;
          }
        }
        ul{
          &.dropdown-menu{
            background-color: #fff;
            border: 0;
            li{
              a{
                line-height: 55px;
              }
            }
          }
        }
      }



    }

    // Menu Toggler
    .navbar-toggle{
      padding:0px;
      border-color:transparent;
      margin-top: 33.5px;
      &:focus,
      &:hover{
        background-color: transparent;
      }
      .icon-bar{
        background-color:$orange;
        width: 28px;
        height: 4px;
      }
    }

    .navbar-collapse{
      border-width:0px;
      border-color:transparent;
    }

    &.navbar-sticky{
      transition: all .5s ease;
      background-color: #000;

      border-bottom: 1px solid rgba(0,0,0,0.2);
      @media all and (max-width:$screen-xs-max){
        min-height: auto;
        padding:0px;
      }

      .navbar-brand{
        padding:20px 15px;
        transition: all .5s ease;

      }

      .navbar-nav{
        li{
          a{
            line-height: 97px;
            &.buy-token{
              line-height:36px;
              margin-top: 25px;

              @media all and (min-width:$screen-sm-max) and (max-width:$screen-md-max){
                line-height: 30px;
                padding: 1px 30px;
                margin-top: 50px;
                font-size: 18px;
                margin-left: 10px;
                margin-right: 15px;
              }
            }

            @media all and (max-width:$screen-sm-max) {
              line-height: 55px;
              &.buy-token{
                line-height:36px;
                margin: 15px 15px;
              }
            }


          }
        }
      }
      .navbar-header{
        border-bottom: 1px solid rgba(0,0,0,0.2);
      }


    }

  }
}


@media (max-width: $screen-sm-max) {
  .navbar-header {
    float: none;
  }
  .navbar-toggle {
    display: block;
  }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin: 7.5px -15px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-text {
    float: none;
    margin: 15px 0;
  }
  /* since 3.1.0 */
  .navbar-collapse.collapse.in {
    display: block!important;
  }
  .collapsing {
    overflow: hidden!important;
  }
}