.truth-discovered{
  position: relative;
  canvas{
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
  }
  h1{
    color:white;
    margin:0px;
    margin-bottom:20px;
  }

  .btn-download{
    border-width: 4px;
    padding:15px 35px;
    padding-left: 100px;
    text-align: left;
    white-space: normal;
    max-width: 250px;
    padding-right: 20px;
    border-radius: 60px;
    font-size: 20px;
    line-height: 1.2;
    text-transform: uppercase;
    float:right;
    font-weight: 500;
    position: relative;
    @media all and (max-width:$screen-xs-max) {
      float:left;
    }
    svg{
      width: 44px;
      height: 44px;
      fill: $orange;
      position: absolute;
      left: 35px;
    }

    &:hover{
      svg{
        fill:white;
      }
    }
  }

  .latest-news{
    margin-top: 80px;
    overflow-x: auto;
    white-space: nowrap;
    position: relative;
    .latest-news-item{
      max-width:310px;
      margin-bottom:20px;
      margin-right:50px;
      a{
        text-decoration: none;
      }

      .news-thumbnail{
        width:100%;

        height:180px;
        border-radius:6px;
      }

      .news-meta{
        max-width:260px;
        margin:0 auto;
        opacity:0.25;
        white-space: normal;
        h2{
          font-size:26px;
          color:white;
          text-transform: uppercase;
          font-family: Roboto, sans-serif;
          font-weight: 500;
        }
        p{
          font-size: 20px;
          color:white;
        }
      }

      &:hover{
        .news-meta{
          opacity:1;
        }
      }
    }
  }
}

.countdown-to-crowdsale{
  padding:100px 0px;

  h1{
    font-weight: 400;
    color:$orange;
    margin:0px;
    margin-bottom:20px;
    margin-top:20px;
    @media all and (max-width:$screen-sm-max) {
      text-align: center;
    }
   }
  a{
    margin-bottom:20px;
    margin-top:20px;
  }
}

.how-we-help {

  .intro-text{
    h1{
        color:$dark-gray;
        margin-bottom:55px;
    }
    p{
        margin-bottom:10px;
    }
  }

  .trive-features {
    padding:100px 0px;
    background-position: top;
    padding-bottom:0px;


    h1 {
      color: $orange;
      //margin-top: 50px;
      margin-top: 10px;
      margin-bottom: 45px;
    }

    p {
      margin-bottom: 45px;
    }

    a {
      color: $orange;
      position: relative;
      text-decoration: none;
      margin-bottom:150px;
      display: inline-block;
      @media all and (max-width:$screen-sm-max) {
        margin-bottom: 50px;
      }
      svg{
        width: 28px;
        height: 28px;
        position: absolute;
        right: -40px;
        top: 4px;
        fill:$orange;
      }
    }

    img{
      margin-bottom:30px;
    }

    @media all and (max-width:$screen-xs-max) {
      text-align: center;
      padding: 0px;
    }

    @media all and (max-width:$screen-sm-max) {
      background-image:none !important; ;
    }

    @media all and (min-width:$screen-sm-max) and (max-width:$screen-md-max){
      background-position-y: 40px;
      h1{
        margin-bottom:25px;
      }
      p{
        margin-bottom:15px;
      }
      a{
        margin-bottom:0px;
      }
    }

  }

}

.cogs-behind {
  padding:160px 0px;
  padding-top:100px;

  @media all and (max-width:$screen-sm-max) {
    padding:50px 0px;
  }

    h1{
    font-family: Panton;
    font-weight: 400;
    color:$dark-gray;
    strong{
      font-weight: 700;
    }
  }
  h2{
    font-size: 24px;
    font-weight: 500;
    font-family: Roboto, sans-serif;
    margin-top:40px;
    margin-bottom:70px;
    color:#7d8085;

  }
  p{
    margin-bottom:25px;
  }
  .team {

    .team-member-container {
      position: relative;
      min-height: 158px;

      @media all and (max-width:$screen-xs-max) {
        margin-bottom: 50px;
        max-width:142px;
        margin-left:auto;
        margin-right:auto;
      }

      @media all and (max-width:$screen-md-min){
        margin-bottom:50px;
      }

        a{
        opacity:0;
        position: absolute;
        z-index: 1;
        top: -40px;
        content: " ";
        width: 58px;
        right: 0;
        height: 60px;
        border: 7px solid rgba(151,154,158,0.52);
        border-radius: 50%;
        background-color: white;
        svg{
          width: 48px;
          height: 48px;
          margin-left: -2px;
          margin-top: -1px;
          fill:#0071b3;

        }
      }

      .team-member {


        opacity:0.5;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        display: block;
        width: 142px;
        height: 158px;
        background-color: #7f7f7f;
        -webkit-clip-path: polygon(45% 1.33975%, 46.5798% 0.60307%, 48.26352% 0.15192%, 50% 0%, 51.73648% 0.15192%, 53.4202% 0.60307%, 55% 1.33975%, 89.64102% 21.33975%, 91.06889% 22.33956%, 92.30146% 23.57212%, 93.30127% 25%, 94.03794% 26.5798%, 94.48909% 28.26352%, 94.64102% 30%, 94.64102% 70%, 94.48909% 71.73648%, 94.03794% 73.4202%, 93.30127% 75%, 92.30146% 76.42788%, 91.06889% 77.66044%, 89.64102% 78.66025%, 55% 98.66025%, 53.4202% 99.39693%, 51.73648% 99.84808%, 50% 100%, 48.26352% 99.84808%, 46.5798% 99.39693%, 45% 98.66025%, 10.35898% 78.66025%, 8.93111% 77.66044%, 7.69854% 76.42788%, 6.69873% 75%, 5.96206% 73.4202%, 5.51091% 71.73648%, 5.35898% 70%, 5.35898% 30%, 5.51091% 28.26352%, 5.96206% 26.5798%, 6.69873% 25%, 7.69854% 23.57212%, 8.93111% 22.33956%, 10.35898% 21.33975%);
        clip-path: polygon(45% 1.33975%, 46.5798% 0.60307%, 48.26352% 0.15192%, 50% 0%, 51.73648% 0.15192%, 53.4202% 0.60307%, 55% 1.33975%, 89.64102% 21.33975%, 91.06889% 22.33956%, 92.30146% 23.57212%, 93.30127% 25%, 94.03794% 26.5798%, 94.48909% 28.26352%, 94.64102% 30%, 94.64102% 70%, 94.48909% 71.73648%, 94.03794% 73.4202%, 93.30127% 75%, 92.30146% 76.42788%, 91.06889% 77.66044%, 89.64102% 78.66025%, 55% 98.66025%, 53.4202% 99.39693%, 51.73648% 99.84808%, 50% 100%, 48.26352% 99.84808%, 46.5798% 99.39693%, 45% 98.66025%, 10.35898% 78.66025%, 8.93111% 77.66044%, 7.69854% 76.42788%, 6.69873% 75%, 5.96206% 73.4202%, 5.51091% 71.73648%, 5.35898% 70%, 5.35898% 30%, 5.51091% 28.26352%, 5.96206% 26.5798%, 6.69873% 25%, 7.69854% 23.57212%, 8.93111% 22.33956%, 10.35898% 21.33975%);

        .team-member-meta {
          opacity: 0;
          position: absolute;
          width: 100%;
          height: 100%;
          content: " ";
          background-color: rgba(255, 255,255, 0.75);



          h4 {

            font-size: 30px;
            font-family: Roboto, sans-serif;
            font-weight: 500;
            line-height: 32px;
            margin-top: 60px;
            margin-bottom: 5px;
            color: #fff;
          }
          p {
            margin: 0px;
            color: white;
            font-weight: 400;
          }
        }


      }

      &:hover{
        a{
          opacity:1;
        }
        .team-member {
          width: 193px;
          height: 214px;
          top: -30px;
          cursor: pointer;
          transition: top 5ms ease;
          opacity:1;
          left: -15px;

          @media all and (max-width:$screen-xs-max) {
            left:-30px;
          }

            .team-member-meta {
            background-color: rgba(255, 139, 0, 0.75);
            transition: all .5s ease;
            opacity: 1;
          }
        }

      }
    }

    &.operations-team{
      .team-member-container{
        min-height:114px;
        margin-bottom:10px;
        a{
          top: -15px;
          width: 38px;
          height: 40px;

          @media all and (max-width:$screen-xs-max) {
            right:20px;
          }
          svg{
            width: 28px;
            height: 28px;
          }
        }
        .team-member {
            height:114px;
            width:110px;
            top: 0;
            left:0px;
            .team-member-meta{
              h4{
                font-size: 18px;
                margin-top: 31px;
                line-height: 18px;
              }

             p{
                font-size: 16px;
             }
           }
        }
      }
    }
  }
}

.inital-coin-offering{
  background-repeat:no-repeat ;
  padding:60px 0px;
  h1{
    margin-bottom:40px;
    color:white;
    span{
      font-weight: 400;
    }
  }

  .countdown-to-crowdsale{
    padding-top:20px;
    padding-bottom:0px;
    h1{
      font-weight: 700;
    }
  }

}

.ico-timeline{
  position: relative;
  padding:80px 0px;

  h1{
    margin-bottom:60px;
  }

  span{
    background-color: #fff;
    position: absolute;
    width: 200px;
    text-align: center;
    top: -18px;
    border-radius: 20px;
    font-weight: 400;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 20px;
    padding: 5px;
    color:$orange;
  }

  .list-btc{
    font-size: 20px;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin-left: 25px;
    margin-bottom: 20px;
    li{
      opacity:0.5;
      &:first-child, &:nth-child(2){
        font-weight: 400;
        opacity:1;
      }
    }

  }

  .list-bonus{
    justify-content: space-around;
    margin-top: 20px;
    max-width: 1050px;
    margin-left: 50px;
    text-align: center;
    li{
      &:nth-child(2){
        font-weight: 300;
        opacity:0.5;
      }
      p{
        margin:0px;
      }

    }
  }

  .img-timeline{

  }

  .timeline-vertical{

    .list-btc{
      @media all and (max-width:$screen-xs-max) {
        margin-left:20px;
        margin-right:0px;
      }
        display: inline-block;

      li{
        margin-bottom:180px;
        &:first-child{
          margin-bottom:140px;
        }
        &:last-child{
          margin-bottom:0px;
          margin-top:-10px;
        }
      }

    }

    .list-bonus{
      margin-top:0px;
      @media all and (max-width:$screen-xs-max) {
        margin-left:0px;
        margin-right:0px;
      }
      li{
        margin-top:140px;
        margin-bottom:0px;
        &:first-child{
          margin-top:60px;
          margin-bottom:0px;
        }
        &:last-child{
          margin-top:160px;
        }

      }
    }



  }
}