

.token-sale-event{
  background-color:#26343d;
  position: relative;

  .header-map {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 70%;
    circle {
      fill: rgba(255,255,255,0.15) !important;
      stroke: none !important;
      &.active {
        stroke: #fff !important;
        stroke-opacity: 0.9;
        stroke-width: 1px;
        fill: #fff !important;
        fill-opacity: 0.75;
        -webkit-animation: pulse 3s ease infinite;
        animation: pulse 3s ease infinite;
      }
      &.active-first {
        stroke: #fff !important;
        stroke-opacity: 0.9;
        fill: #fff !important;
        fill-opacity: 0.4;
        -webkit-animation: pulse-first 3s ease infinite;
        animation: pulse-first 3s ease infinite;
      }
      &.active-second {
        stroke: #fff !important;
        stroke-opacity: 0.9;
        fill: #fff !important;
        fill-opacity: 0.3;
        -webkit-animation: pulse-second 3s ease infinite;
        animation: pulse-second 3s ease infinite;
      }
      &.active-third {
        stroke: #fff !important;
        stroke-opacity: 0.9;
        fill: #fff !important;
        fill-opacity: 0.25;
        -webkit-animation: pulse-third 3s ease infinite;
        animation: pulse-third 3s ease infinite;
      }
    }
  }


  .upper-content-block {

    h1 {
      color: white;
      font-size: 40px;
    }
    p {

    }
  }
  .lower-content-block{
    padding-top:55px;
    .pdf-links{
      margin-top:50px;
      li{
        a{
          color:$orange;
          font-weight: 500;
        }
      }
    }
  }
}

.pre-sale-starting{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f65410+0,fe9202+100 */
  background: #f65410; /* Old browsers */
  background: -moz-linear-gradient(top, #f65410 0%, #fe9202 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f65410 0%,#fe9202 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f65410 0%,#fe9202 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f65410', endColorstr='#fe9202',GradientType=0 ); /* IE6-9 */
  padding:55px 30px;
  border-radius:15px;

  @media only screen and (max-width: $screen-xs-max) {
      margin-bottom: 30px;
  }

  h1{
    margin-top:0px;
    color:white;
  }
  p{
    margin-top:25px;
    margin-bottom:35px;
  }
  a{
    @media only screen and (max-width: $screen-xs-max) {
      padding:10px 20px;
    }
  }

  .ico-clock{
    .clock-count{
      @media only screen and (max-width: $screen-xs-max) {
        margin-bottom:10px;
      }

      border-radius:20px;
      box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.35);
      background-color: white;
      padding:20px;
      h3, h4{
        color:black;
      }
    }
  }
}

.coin-offering-detail{
  padding-top:155px;
  padding-bottom:55px;
  color:#25333d;

  .trive-coin{
    display: block;
    position: relative;
    @media only screen and (max-width: $screen-xs-max) {
      margin-bottom:50px;
    }


    .coin {
      margin:0 auto;
      font-size: 300px;
      width: 0.1em;
      height: 300px;
      background-image: linear-gradient(0deg, #BE4F16 25%, #D07321 25%, #D07321 50%, #BE4F16 50%, #BE4F16 75%, #D07321 75%, #D07321);
      background-size: 8px 8px;
      -moz-transform-style: preserve-3d;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
    }


    .coin .side, .coin:before, .coin:after {
      content: "";
      position: absolute;
      width: 300px;
      height: 300px;
      bottom: 0;
      overflow: hidden;
      border-radius: 100%;
      right: -0.4em;
      text-align: center;
      -moz-transform: rotateY(-90deg);
      -ms-transform: rotateY(-90deg);
      -o-transform: rotateY(-90deg);
      -webkit-transform: rotateY(-90deg);
      transform: rotateY(-90deg);
      -moz-backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }

    .coin .side {
      background-size: 100%;
    }
    .coin .tails, .coin:after {
      left: -0.4em;
      -moz-transform: rotateY(90deg);
      -ms-transform: rotateY(90deg);
      -o-transform: rotateY(90deg);
      -webkit-transform: rotateY(90deg);
      transform: rotateY(90deg);
    }
    .coin:before, .coin:after {
      background: -moz-linear-gradient(#BEAD3F, #D07321);
      background: -o-linear-gradient(#BEAD3F, #D07321);
      background: -webkit-linear-gradient(#BEAD3F, #D07321);
      background: linear-gradient(#BEAD3F, #D07321);
      -moz-backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -moz-transform: rotateY(90deg);
      -ms-transform: rotateY(90deg);
      -o-transform: rotateY(90deg);
      -webkit-transform: rotateY(90deg);
      transform: rotateY(90deg);
    }
    .coin:after {
      -moz-transform: rotateY(-90deg);
      -ms-transform: rotateY(-90deg);
      -o-transform: rotateY(-90deg);
      -webkit-transform: rotateY(-90deg);
      transform: rotateY(-90deg);
    }

    .coin {
      animation: rotate 5s infinite linear;
    }

    .coin:before, .coin:after {
      background-image: linear-gradient(0deg, #BE4F16 25%, #D07321 25%, #D07321 50%, #BE4F16 50%, #BE4F16 75%, #D07321 75%, #D07321);
      background-size: 8px 8px;
    }


    @-webkit-keyframes rotate {
      100% {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
      }
    }
    @-moz-keyframes rotate {
      100% {
        -moz-transform: rotateY(360deg);
      }
    }
    @keyframes rotate {
      100% {
        transform: rotateY(360deg);
      }
    }
  }

  .content-block{
    h1{
      color: $orange;
      margin-top:0px;
      margin-bottom:55px;
    }
  }
}

.ico-participate{
  padding-top:80px;
  padding-bottom:100px;
  color:#25333d;
  .content-block{
    margin-top:30px;
    h2{
      font-size:34px;
      overflow-wrap: break-word;

    }
    .btn-group{
      margin-top:25px;
      a{
        padding:25px 55px;
        @media only screen and (max-width: $screen-xs-max) {
          padding:15px 20px;
        }
        &:first-child{
          border-top-left-radius: 50px;
          border-bottom-left-radius: 50px;
        }
        &:last-child{
          border-top-right-radius: 50px;
          border-bottom-right-radius: 50px;
        }
      }
    }
  }
}

.platform-activity-status{
  background-color:#25343d;
  padding:100px 0px;
  position: relative;

  #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top:0px;
    left:0px;
  }

  h1{
    margin-top:0px;
  }

  ul{
    li{
      padding:20px 40px;
      background-color: rgba(59,70,84,0.6);
      color:white;
      border-radius:10px;
      margin:20px 10px;

      h1{
        margin:0px;
        line-height: 1;
      }
    }
  }
}

.timeline-roadmap{
  padding-top:80px;



  color:#25343d;
  h1{
    color:#26343d;
    margin-bottom:60px;
  }

  .timeline-milestone{
    padding-left:10px;
    position: relative;
    margin-bottom:35px;
    border-left:1px solid #e2e2e2;
    width:140px;
    text-align: left;
    min-height:365px;

    p{
      &:first-of-type{
        font-weight: 500;
        padding-bottom:185px;
      }

      &:last-of-type{
        font-size: 20px;
        font-weight: 400;
        position: absolute;
      }
    }

    img{
      position: absolute;
      left: -34px;
      top: 85px;
      padding: 20px 0px;
      background-color: white;
    }

  }

}

.faqs{
  padding:100px 0px;
  h1{
    margin-top:0px;
    color:white;
  }

  .faq-group{
    margin-top:50px;
    .panel-default{
      border:0px;
      box-shadow: none;
      margin:0px;



      >.panel-heading{
        background-color: $orange;
        border-radius:0px;
        border:0px;
        padding:20px 25px;



        .panel-title{
            font-weight: 400;
            margin: 0px;
            color:white;
            font-size: 24px;
            a{
              display: block;
              text-decoration: none;
              svg{
                height: 24px;
                fill: #fff;
                float: left;
                margin-right: 25px;
                width: 24px;
              }
            }
        }

      }

      .panel-body{
        background-color: $dark-orange;
        border:0px;
      }

      &:nth-of-type(even){
        >.panel-heading{
          background:$dark-orange;
        }
      }

    }
  }

  .get-news{
    margin-top:50px;
    input{
      border-radius:30px;
      padding:30px;

    }
    input[type=submit]{
      display: none;
    }
  }
}